{% load static %}
<!doctype html>
<html lang="en">

<head>
    <title>Reset password</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{% static 'login/css/style.css' %}">

</head>

<body style="background-color: #690cbb;">
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">My First Site</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap p-0">
                        <h3 class="mb-4 text-center">Reset your password</h3>
                        <h6>{% include 'messages.html' %}</h6>
                        <!--
                        {% if next %}
                        <form action="/login/?next={{next}}" method="post">
                            {%else%}
                            {% endif %}
                        -->
                        <form action="{% url 'account:reset-password' token=token %}" method="post" class="signin-form">

                            {% csrf_token %}

                           
                            <div class="form-group">
                                <input id="password-field" type="password" name="password1" class="form-control"
                                    placeholder="Password" required>
                                <span toggle="#password-field"
                                    class="fa fa-fw fa-eye field-icon toggle-password"></span>
                            </div>
                            
                            <div class="form-group">
                                <input id="password-field" type="password" name="password2" class="form-control"
                                    placeholder="Confirm Your Password" required>
                                <span toggle="#password-field"
                                    class="fa fa-fw fa-eye field-icon toggle-password"></span>
                            </div>
                            <div class="form-group">
                                <input type="hidden" name="user_id" value="{{user_id}}">
                                <button type="submit" class="form-control btn btn-primary submit px-3">Submit your password</button>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="{% static 'login/js/jquery.min.js' %}"></script>
    <script src="{% static 'login/js/popper.js' %}"></script>
    <script src="{% static 'login/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'login/js/main.js' %}"></script>

</body>

</html>