asgiref==3.6.0
bleach==6.0.0
Django==3.2.4
django-ckeditor==6.5.1
django-extensions==3.2.1
django-js-asset==2.0.0
django-robots==5.0
django-taggit==3.1.0
Pillow==9.4.0
python-decouple==3.8
pytz==2022.7.1
six==1.16.0
sorl-thumbnail==12.9.0
sqlparse==0.4.3
webencodings==0.5.1
mysqlclient
django_otp
django-multi-captcha-admin==2.0.0
django-otp==1.1.6
django-simple-captcha
