{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/test.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <style>
        
    </style>
</head>
<body>
    <h3 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; text-align: center; ">{'Name':'mmd javad' , 'Last name': 'Zare' , 'Nickname': 'Mikey' , 'Birthday':'3/28/2002'}</h3>
</body>
</html>