<div class="single-sidebar-widget newsletter-widget">
    <h4 class="newsletter-title">Newsletter</h4>
    <p>
        Here, I focus on a range of items and features that we use in life without
        giving them a second thought.
    </p>
    <div class="form-group d-flex flex-row">
        <div class="col-autos">
            <form class="form-area text-right" action="{% url 'website:newsletter' %}" method="post">
                {% csrf_token %}
                <div class="input-group d-flex flex-row">

                    
                    <input name="email" placeholder="Enter email"
                        pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" onfocus="this.placeholder = ''"
                        onblur="this.placeholder = 'Enter email'" class="common-input mb-20 form-control"
                        required="" type="email">

                    <button href="#" type="submit" class="bbtns">Subcribe</button>

                </div>
            </form>
        </div>
    </div>
    <p class="text-bottom">
        You can unsubscribe at any time
    </p>
</div>