{% load static %}
{% load blog_tags %}
{% load thumbnail %}

<div class="single-sidebar-widget popular-post-widget">
    <h4 class="popular-title">Latest Posts</h4>
    <div class="popular-post-list">
        {% for post in pop_posts %}
        <div class="single-post-list d-flex flex-row align-items-center">
            <div class="thumb">
                {% thumbnail post.image "100x60" crop="center" as im %}
                <img class="img-fluid" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="">
                {% empty %}
                <p>No image</p>
                {% endthumbnail %}
            </div>
            <div class="details">
                <a href="{% url 'blog:single' post.id %}">
                    <h6>{{post.title}}</h6>
                </a>
                <p>{{post.published_date|timesince|upto:', '}} ago</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>